<form>
    <div about="?:subject">
        <span property="http://xmlns.com/foaf/0.1/name">Damian</span>
        <input rel="http://example.com/" name="p"/>
        <span rel="http://f/depiction">
            <img src="http://example.com/1.gif"/>
        </span>
    </div>
</form>